/* Contains element styles */

html{
    background-color: white;
}

*{
	margin: 0;
	padding: 0;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #e8a87c;
    margin: 0 auto;
    border: 5px solid #41b3a3;
}

/* Contains header styles */

header h1{
    text-align: center;
    font-weight: bolder;
    font-size: 300%;
	padding: 1em 1em;
    color: black;
    border-bottom: 5px solid #41b3a3;
    background: linear-gradient(45deg,#85dcb8 0%, #85dcb8 30%, white 50%, #85dcb8 80%, #85dcb8 100% );
}


/* Contains Main styles */

main img{
    float: left;
    padding-left: 4em;
    padding-right: 1em;
    padding-bottom: 2em;
    margin-right: 25em;
    margin-left: 3em;
}

main h3{
    font-size: 250%;
    padding-top: .1em;
    padding-bottom: 1em;
    margin-left: 10em;
    color: black;

}

main p{
    margin: 1em 1em;
    padding: 1em 1em;
    font-weight: bold;
    font-size: 130%;
}

h2{
    font-size: 300%;
    text-align: center;
    margin-bottom: 2em;
}

main ul{
    font-size: 200%;
    padding-bottom: 10em;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 5em;
    margin: 2em 5em;
    border-bottom: 3px solid #41b3a3;
}

.Sadie{
    font-weight: bolder;
    font-style: oblique;
    font-size: 200%;
    text-shadow: -2px -2px;
    color: #41b3a3;
}

ul>li{
    font-weight: bolder;
    color: black;
}

footer p, main a{
    text-align: center;
    display: block;
    color: black;
}

a{
    font-size: 200%;
    border: 5px double #41b3a3;
    margin-left: 25em;
    margin-right: 25em;
    margin-bottom: 2em;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 3px 3px 0px 0px black;
}

a:hover, a:focus{
    font-style: italic;
}
